@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            //var connection = new signalR.HubConnectionBuilder().configureLogging(signalR.LogLevel.Information).withAutomaticReconnect().withUrl("https://localhost:5001/MyHub").build();
            var connection = new signalR.HubConnectionBuilder().withAutomaticReconnect([1000,2000,2000,2000]).withUrl("https://localhost:5001/MyHub").build();
            function statusShow() {
                $("#conStatus").text(connection.connectionState);
            }
            start();
            statusShow();
            //functions
            function start() {
                connection.start()
                    .then(() => {
                        $("#loading").hide();
                        statusShow();
                    })
                    .catch((err) => {
                        console.log(err)
                        setTimeout(() => { Start() }, 2000);
                    });

            }

            //Subscribe
            //onreconnecting
            connection.onreconnecting(err => {
                $("#loading").show();
                console.log("onreconnection: "+err);
            });
            //onreconnected
            connection.onreconnected((connectionId) => {
                $("#loading").hide();
                statusShow();
                console.log("connectionId: " + connectionId);
            });
            //onclose
            connection.onclose(() => {
                $("#loading").show();
                statusShow();
                start();
            })
            //Client Count
            connection.on("ReceiveClientCount", (clientCount) => {
                $("#clientCount").text(clientCount);
            });
            //Notify
            connection.on("Notify", (countText) => {
                console.log(countText);
                $("#notify").html(`<div class="alert alert-danger">${countText}</div"`);
            })
            connection.on("Error", (errorText) => {
                alert(errorText);
            })


            //Clicks
            $("#btnNameSave").click(() => {
                connection.invoke("SetName", $("#txtName").val()).catch((err) => {
                    console.log(err);
                });
            });

            // On Methods
            connection.on("ReceiveName", (name) => {
                console.log(name);
                $("#namesList").append(`<li class="list-group-item"> ${name} </li>`);
            });

        })
    </script>
}


<div class="row">
    <div class="col col-8 offset-2">
        <div class="alert alert-info">
            <div class="float-left">
                Bağlantı Durumu: <strong id="conStatus"></strong> &
                Client Sayısı: <strong id="clientCount"></strong>
            </div>
            <div class="float-right">
                <div id="loading" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col col-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col col-8 offset-2">
        <div id="notify"></div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col col-8 offset-2">
        <ul id="namesList" class="list-group">
        </ul>
    </div>
</div>