@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            //var connection = new signalR.HubConnectionBuilder().configureLogging(signalR.LogLevel.Information).withAutomaticReconnect().withUrl("https://localhost:5001/MyHub").build();
            var connection = new signalR.HubConnectionBuilder().withAutomaticReconnect([1000, 2000, 2000, 2000]).withUrl("https://localhost:5001/MyHub").build();
            function statusShow() {
                $("#conStatus").text(connection.connectionState);
            }
            start();
            statusShow();
            //functions
            function start() {
                connection.start()
                    .then(() => {
                        //connection.invoke("GetNames");
                        connection.invoke("GetNamesByGroup");
                        $("#loading").hide();
                        statusShow();
                    })
                    .catch((err) => {
                        console.log(err)
                        setTimeout(() => { start() }, 2000);
                    });

            }

            //Subscribe
            //onreconnecting
            connection.onreconnecting(err => {
                $("#loading").show();
                console.log("onreconnection: " + err);
            });
            //onreconnected
            connection.onreconnected((connectionId) => {
                $("#loading").hide();
                statusShow();
                console.log("connectionId: " + connectionId);
            });
            //onclose
            connection.onclose(() => {
                $("#loading").show();
                statusShow();
                start();
            })
            //Client Count
            connection.on("ReceiveClientCount", (clientCount) => {
                $("#clientCount").text(clientCount);
            });
            //Notify
            connection.on("Notify", (countText) => {
                console.log(countText);
                $("#notify").html(`<div class="alert alert-danger">${countText}</div"`);
            })
            connection.on("Error", (errorText) => {
                alert(errorText);
            })
            connection.on("ReceiveName", (name) => {
                $("#namesList").append(`<li class="list-group-item"> ${name} </li>`);
            });
            connection.on("ReceiveNames", (names) => {
                console.log("Gelen: " + names);
                $("#namesList").empty();
                names.forEach((item, index) => {
                    $("#namesList").append(`<li class="list-group-item">${item}</li>`);

                })
            });
            connection.on("ReceiveNamesByGroup", (teams) => {

                
                teams.forEach((team, index) => {
                    
                    
                    let listName;
                    if (team.teamId == 1) listName = "ATeamList";
                    else listName = "BTeamList";
                    team.users.forEach((user, index2) => {
                        
                        $(`#${listName}`).append(`<li class="list-group-item">${user.name}</li>`);
                    })
                })

            })
            connection.on("ReceiveMessageByGroup", (name, teamId) => {
                let listName;
                if (teamId == 1) listName = "ATeamList";
                else listName = "BTeamList";
                $(`#${listName}`).append(`<li class="list-group-item">${name}</li>`);

            })

            //Clicks
            $("#btnNameSave").click(() => {
                connection.invoke("SetName", $("#txtName").val()).catch((err) => {
                    console.log(err);
                });
            });
            $("#btnNameTeam").click(() => {
                let name = $("#txtName").val();
                let teamName = $("input[type=radio]:checked").val();
                connection.invoke("SendNameByGroup", name, teamName).catch((err) => {
                    console.log(err);
                })
            });
            $("input[type=radio]").change(() => {
                let value = $(`input[type=radio]:checked`).val();
                if (value == "Team A") {
                    connection.invoke("AddToGroup", "Team A");
                    connection.invoke("RemoveToGroup", "Team B");
                } else {
                    connection.invoke("AddToGroup", "Team B");
                    connection.invoke("RemoveToGroup", "Team A");
                }

            })

        })
    </script>
}


<div class="row mt-2">
    <div class="col col-8 offset-2">
        <div class="alert alert-info">
            <div class="float-left pt-1">
                Bağlantı Durumu: <strong id="conStatus"></strong> &
                Client Sayısı: <strong id="clientCount"></strong>
            </div>
            <div class="float-right">
                <div id="loading" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col col-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
    </div>
</div>
<div class="row  mt-2">
    <div class="col col-8 offset-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="TeamGroup" value="Team A" />
            <label class="form-check-label">A Takımı</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="TeamGroup" value="Team B" />
            <label class="form-check-label">B Takımı</label>
        </div>
    </div>
</div>
<div class="row  mt-2">
    <div class="col col-8 offset-2">
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
        <button class="btn btn-primary" id="btnNameTeam">İsim Kaydet(Takım)</button>
    </div>
</div>

<div class="row  mt-2">
    <div class="col col-8 offset-2">
        <div id="notify"></div>
    </div>
</div>
<div class="row  mt-2">
    <div class="col col-8 offset-2">

        <div class="row">
            <div class="col col-6">
                <ul id="ATeamList" class="list-group"></ul>
            </div>
            <div class="col col-6">
                <ul id="BTeamList" class="list-group"></ul>
            </div>
        </div>


        <ul id="namesList" class="list-group">
        </ul>
    </div>
</div>